{% extends 'todo/layout.html' %}

{% block body %}
<h1>Регистрация</h1>
<div style="margin: 30px; padding: 30px; clear:both; text-align:right; float: left;">
    <form method="post">
        {% csrf_token %}
        <p>Введите имя пользователя: {{ form.username }}</p>
        <p>Введите электронную почту: {{ form.email }}</p>
        <p>Введите пароль: {{ form.password1 }}</p>
        <p>Введите подтверждение пароля: {{ form.password2 }}</p>
        <input type="submit" value="Зарегистрироваться">
    </form>
</div>
{% if message %}
    <p>{{ message }}</p>
{% endif %}
{% endblock %}